body {
  margin: 0;
  min-height: 100vh;
}

main{
  display: flex;
  flex-direction: column;
  justify-content: center; /* horizontal */
  align-items: center;     /* vertical */
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

td{
    padding: 5px;
}

button.paleta{
  width: auto;
}

td:hover{
    background-color: #D6EEEE;
}